{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="flex flex-col justify-center items-center align-middle">
        <form method="post" action="{{ path('app_lost_password') }}">
            <h1 class="mb-3 mt-3 font-extrabold text-center">Mot de passe oublié ?</h1>
            <p>Nous allons vous l'envoyer par mail.</p>
            <label for="inputEmail" class="label font-bold w-full">E-mail</label>
            <input type="email" name="inputEmail" id="inputEmail" class="input input-bordered w-full mt-3 bg-white" autocomplete="current-email" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('lost-password') }}">

            <button class="btn btn-primary mt-3 w-full" type="submit">
                Envoyer
            </button>
        </form>
    </div>
{% endblock %}
