{% extends 'base.html.twig' %}

{% block title %}Ticketing | Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-center font-extrabold">Modifier un utilisateur</h1>
    {{ include('admin/users/_form.html.twig',{'button_label': 'Mettre à jour'}) }}
{% endblock %}