{% extends 'base.html.twig' %}

{% block title %}Ticketing | Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-center font-extrabold">Créer un nouvel utilisateur</h1>
    {{ include('admin/users/_form.html.twig') }}
{% endblock %}