{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center m-5">
        <h1>Page introuvable... :(</h1>

        <p>
            La page que vous cherchez n'existe pas... <br>Cliquez <a href="{{ path('app_main') }}"
                                                                     class="link badge badge-info text-white">ici</a>
            pour retourner à la page d'accueil.
        </p>
    </div>
{% endblock %}