<form method="post" action="{{ path('app_settings_reset_password', {'username': user.username}) }}"
      onsubmit="return confirm('Êtes-vous vraiment sur de vouloir changer de mot de passe?');">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('random-password' ~ user.username) }}">
    {% if label is defined %}
        <button type="submit" class="btn btn-ghost">
            {{ label }}
        </button>
    {% else %}
        <button type="submit" class="badge link link-success bg-white">
            >> Cliquez ici pour changer de mot de passe
        </button>
    {% endif %}
</form>